<div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/app/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app/category">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app/product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app/customer">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app/report">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
  